<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="animouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <animouse.Properties.Settings>
            <setting name="WhiteList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="BoxWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BoxHeight" serializeAs="String">
                <value>245</value>
            </setting>
            <setting name="SpeedHor" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="SpeedVer" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShortcutRunDVD" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="Framerate" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ShortcutAddWhitelist" serializeAs="String">
                <value>LeftCtrl+LeftShift+A</value>
            </setting>
            <setting name="UseProcWhitelist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeedRandomMin" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="SpeedRandomMax" serializeAs="String">
                <value>2</value>
            </setting>
        </animouse.Properties.Settings>
    </userSettings>
</configuration>